.btn{
    padding: 5px 20px ;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}


.btn:hover{
    padding: 5px 20px;
    transition: all 0.3s ease-out;
    background: var(--main-text-color);
    color: #ffff;
    transition: 250ms;
}

.btn--primary{
  background-color: var(--main-text-color);
}

.btn--outline{
    background-color: transparent;
    color: #ffff;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid var(--main-text-color) ;
    transition: all 0.3s ease-out;
}

.btn-medium{
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px ;
    color: #ffff;
}

.btn-large{
    padding: 12px 26px;
    border-radius: 4px;
    font-size: 20px ;
    color: #ffff;
}