.NavbarItems {
  background: var(--main-color);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.navbar-logo {
  margin-left: 20px;
  justify-self: start;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--main-text-color);
}

.navbar-logo h1 {
  padding: 1rem;
  width: fit-content;
}

.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.8rem 1rem;
}

.nav-links:hover {
  color: var(--main-text-color);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.fa-bars {
  color: #fff;
  cursor: pointer;
}

.nav-links-mobile {
  display: none;
}

.fa-times {
  color: #fff;
  cursor: pointer;
}

.menu-icon {
  display: none;
}

#span {
  color: #fff;
}


.dropdown {
  position: relative;
  display: inline-block;
  left: -5%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  transition: all 1s ease;
 
}

.dropdown span{
  color: #fff;
  cursor: pointer;
}
.dropdown span:hover{
  color: var(--main-text-color);
  transform: rotate(45deg);
  transition: all 1s ease-out;
  
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.dropdown-content p:hover{
  color: #bbb;
}
// #left-dropdown {
//   position: absolute;
//   top: 45px;
//   background-color: var(--main-color);
//   min-width: 20vw;
//   height: fit-content;
//   opacity: 1;
// }



@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
    height: 95px;
  }

  .fa-th{
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    // height: 500px;
    height: fit-content;
    position: absolute;
    top: 90px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1000;
  }

  .nav-menu.active {
    background-color: #305979;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    height: fit-content;
    z-index: 1000;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 90%;
    display: table;
  }

  .nav-links:hover {
    background-image: linear-gradient(to top, #456279, #9c749b, #da7999);
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0%, 10%);
    max-width: 100px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .carousel-image-container img {
    max-width: 900px !important;
    height: 200px !important;
    border-radius: 10px;
  }
  .carousel-image-container {
    border-radius: 20px;
  }

  .branner-container {
    margin: 1rem;
  }

  #type-currency {
    display: none;
  }
}
