#reset-border-span{
    border:none;
    background-color: #FFFDF0;
    text-align: left;
    padding: 1rem;
    border-radius: 5px;
    color: #C99400;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#fa-exclamation-circle{
    padding-right: .5rem;
}