.login-container {
  max-width: 30%;
  background-color: #ffff;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 10px;
  box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}
.login-container h2 {
  text-align: center;
  font-weight: 200;
}

.login-container p {
  text-align: center;
  font-size: 0.8rem;
}

.border-curve-login {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  border: 1px solid #bbbbbb;
  border-radius: 100px 100px 100px 100px;
  width: fit-content;
  padding: 0.4rem 0.3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.border-curve-login .bilock {
  padding-right: 0.5rem;
  color: green;
}

.tab-login-container {
  border-bottom: 1px solid #bbbbbb;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.tab-login-container label {
  cursor: pointer;
}

.tab-login-container .email-tab {
  width: 100px;
  cursor: pointer;
}

.tab-login-container .mobile-tab {
  width: 100px;
  // border-bottom: 2px solid var(--main-text-color);
  cursor: pointer;
}

.email-tab.active {
  border-bottom: 2px solid var(--main-text-color);
}

.mobile-tab.active {
  border-bottom: 2px solid var(--main-text-color);
}

.login-tab-form-group {
  margin: 0.2rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.login-tab-form-group label {
  width: 500px;
}

.login-tab-form-group input {
  width: 100%;
  outline: none;
  padding-left: 1rem;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  margin-top: 0.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.login-tab-form-group input:focus {
  outline: none;
}

.login-tab-form-password-group label {
  width: 500px;
}
.login-tab-form-password-group {
  margin: 0.2rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.login-tab-form-password-group input {
  width: 100%;
  outline: none;
  padding-left: 1rem;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  margin-top: 0.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.login-tab-form-password-group input:focus {
  outline: none;
}

.login-tab-form-password-group span {
  position: relative;
  display: block;
  width: fit-content;
  margin-top: -27px;
  cursor: pointer;
  margin-left: auto;
}

.login-tab-body button {
  min-width: 100%;
  outline: none;
  border: none;
  padding: 0.5rem 0.6rem;
  margin-top: 2rem;
  border-radius: 10px;
  background-color: var(--main-text-color);
  cursor: pointer;
}

.login-tab-body button:hover {
  background-color: var(--main-text-hover-color);
}

.login-tab-form-footer-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  font-size: 0.8rem;
}

.scanning label {
  cursor: pointer;
  color: var(--main-text-color);
}

.scanning label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.scanning #scantologin {
  padding-right: 1rem;
}

.forgot label {
  cursor: pointer;
}

.forgot label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login-tab-animation {
  transition: all 1s ease-in-out;
}

.mobile-phone-form-group {
  margin-top: 1rem;
}

.mobile-phone-flex-container {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.mobile-phone-flex-container select {
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #f5f5f5;
}

.mobile-phone-flex-container select:focus {
  outline: none;
}

.mobile-phone-flex-container input {
  width: 100%;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  margin-left: 0.3rem;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #f5f5f5;
}

.mobile-phone-flex-container input:focus {
  outline: none;
}

#button-login {
  min-width: 100%;
  outline: none;
  border: none;
  padding: 0.5rem 0.6rem;
  margin-top: 2rem;
  border-radius: 10px;
  background-color: var(--main-text-color);
  cursor: pointer;
}

#button-login:hover {
  background-color: var(--main-text-hover-color);
}

@media screen and (max-width: 960px) {
  .login-container {
    max-width: 70%;
    background-color: #ffff;
    padding: 1rem 1rem 1.5rem 1rem;
    border-radius: 10px;
    box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
  }
}
